@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.initialism{
	font-variant: all-small-caps;
}

figure{
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	margin: 0;
	max-height: 100%;
	text-align: center;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

figcaption{
	font-style: italic;
	font-size: .75em;
}

section[epub|type~="chapter"]{
	page-break-after: always;
}
